[submodule "externalpackages/codipack"]
	path = externalpackages/codipack
	url = https://github.com/SciCompKL/CoDiPack
[submodule "externalpackages/cvode"]
	path = externalpackages/cvode
	url = https://github.com/ufz/cvode
[submodule "externalpackages/catch"]
	path = externalpackages/catch
	url = https://github.com/philsquared/Catch.git
[submodule "externalpackages/matplotlib-cpp"]
	path = externalpackages/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp.git
